<VirtualHost *:80>
  DocumentRoot {{ webroot }}
  ServerName {{ bare_url }}
{% if server_aliases is not none -%}
{% for alias in server_aliases.split(',') %}
  ServerAlias {{ alias }}
{% endfor %}
{% endif %}
  ErrorLog /var/log/apache2/{{ bare_url }}.error.log
  CustomLog /var/log/apache2/{{ bare_url }}.access.log combined

  <FilesMatch \.php$>
    SetHandler "proxy:unix:/var/run/php/php-fpm-{{ bare_url }}.sock|fcgi://./"
  </FilesMatch>
  RedirectMatch 404 /\.git
{% if env != 'Live' and canonical_primary_url is not none %}
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f [NC]
  RewriteRule ^(.*\.(png|jpe?g|gif|ico)$) {{ canonical_primary_url }}/$1 [NC,P,L]
{% endif %}
  {{ apache_vhost_extra|default('') }}
<Directory "{{ webroot }}">
  AllowOverride All
  Options -Indexes
{% if cms != 'Other' %}
  <LimitExcept GET POST HEAD OPTIONS>
    deny from all
  </LimitExcept>
{% endif %}
{% if env == 'Test' %}
  AuthType Basic
  AuthName "This is a Megaphone Tech test site. Please enter the test site credentials to continue."
  AuthUserFile {{ webroot }}/htpasswd
{% endif %}

<RequireAll>
{% if env == 'Test' %}
  <RequireAny>
    Require valid-user
    Require ip 127.0.0.1
    Require ip {{ primary_icinga_server_ip }}
  </RequireAny>
{% else %}
  Require all granted
{% endif %}
  <RequireNone>
    Require env BlockedAgent
  </RequireNone>
</RequireAll>

{% include "files/" + bare_url + "/vhost-include.j2" ignore missing %}

</Directory>
<FilesMatch "^(xmlrpc\.php|wp-trackback\.php)">
Order Deny,Allow
Deny from all
</FilesMatch>
SSLProxyEngine on
</VirtualHost>

