<VirtualHost *:80>
  DocumentRoot {{ webroot }}
  ServerName {{ bare_url }}

  <FilesMatch \.php$>
    SetHandler "proxy:unix:/var/run/php/php-fpm-{{ bare_url }}.sock|fcgi://./"
  </FilesMatch>
  RedirectMatch 404 /\.git
<Directory "{{ webroot }}">
  AllowOverride All
  Options -Indexes
{% if env == 'Test' %}
  AuthType Basic
  AuthName "This is a Megaphone Tech test site.  Please enter the Megaphone Tech user/password to continue."
  AuthUserFile {{ webroot }}/htpasswd
  <RequireAny>
    Require valid-user
    Require ip 127.0.0.1
  </RequireAny>
{% else %}
  Require all granted
{% endif %}
</Directory>
</VirtualHost>

