<VirtualHost *:80>
  DocumentRoot {{ webroot }}
  ServerName {{ bare_url }}

  <FilesMatch \.php$>
    SetHandler "proxy:unix:/var/run/php/php-fpm-{{ bare_url }}.sock|fcgi://./"
  </FilesMatch>
  RedirectMatch 404 /\.git
<Directory "{{ webroot }}">
  AllowOverride All
  Options -Indexes
{% if cms != 'Other' %}
  <LimitExcept GET POST HEAD OPTIONS>
    deny from all
  </LimitExcept>
{% endif %}
{% if env == 'Test' %}
  AuthType Basic
  AuthName "This is a Megaphone Tech test site. Please enter the test site credentials to continue."
  AuthUserFile {{ webroot }}/htpasswd
  <RequireAny>
    Require valid-user
    Require ip 127.0.0.1
    Require ip {{ primary_icinga_server_ip }}
  </RequireAny>
{% else %}
  Require all granted
{% endif %}
</Directory>
</VirtualHost>

